<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>MaTalk AI Forever</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>None</string>
			<key>CFBundleURLName</key>
			<string>auth0</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER).auth0</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string></string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We use your location to suggest relevant phrases based on your surroundings. For example, suggesting At the park if you&apos;re at a park</string>
  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>We use your location to suggest relevant phrases based on your surroundings. For example, suggesting At the park if you&apos;re at a park</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We use your microphone so you can record speech to generate possible answers for a cargivers questions. For example you are asked what your name is we record it and transcribe.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The App uses the photo library to personalize the conversation for instance a picture of dad or mom or a known relative </string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We save photos you take so you can use them in your conversations and personalize your experience.Images are private to your device. They are not uploaded anywhere.</string>
	<key>NSCameraUsageDescription</key>
	<string>We use the camera so you can take photos to personalize people, pets, toys and places.Images are private to your device. They are not uploaded anywhere.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>We use your microphone so you can record speech to communicate with others. For example, your speech is transcribed into text and read aloud.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
